.main-container {
  display: flexbox;
  text-align: center;
  background-color: rgb(44, 240, 53);
}

.title {
  margin: 0;
  color: rgb(209, 20, 20);
}
.input {
  min-width: 200px;
}
.country-container {
  background-color: rgb(139, 146, 245);
  display: flexbox;
  text-align: center;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
